<article {% if showDetail %}class="show-detail"{% endif %} class="pizza" style="view-transition-name: pizza-{{pizza.id}};">
  <header>
    <h2>{{ pizza.name }}</h2>
  </header>

  {% if pizza.image %}
  <img
    src="https://fdnd-agency.directus.app/assets/{{ pizza.image }}"
    alt="{{ pizza.name }}"
  >
  {% endif %}

  {% if showDetail %}
    <p>{{pizza.description}}</p>
  {% endif %}

  <footer>
    <p>Aantal keer besteld: {{pizza.ordered}}</p>

    <p>Prijs: <data value={{pizza.ordered}}>€ {{ pizza.price | round: 2 | replace: ".", "," }}</data></p>
  </footer>
</article>