  <header>
    <h1>
      {{ title | default: "Nerdy pizza's" }} <small>{{ meta.filter_count }} / {{ meta.total_count }}</small>
    </h1>

    <p>
      {%- if selectedType != "" -%}
        {%- case selectedType -%}
          {%- when "vegetarisch" -%}
            {%- assign icon = "🥦" -%}
          {%- when "vlees" -%}
            {%- assign icon = "soort: 🥩" -%}
          {%- when "vis" -%}
            {%- assign icon = "soort: 🐟" -%}
          {%- else -%}
            {%- assign icon = "soort: 🍕" -%}
        {%- endcase -%}
        <span>{{ icon }}</span>
      {%- endif -%}

      {%- if selectedSort != "" -%}
        {%- case selectedSort -%}
          {%- when "low-high" -%}
            {%- assign sortLabel = "prijs: 💰 → 💰💰" -%}
          {%- when "high-low" -%}
            {%- assign sortLabel = "prijs: 💰💰 → 💰" -%}
          {%- else -%}
            {%- assign sortLabel = "standaard volgorde" -%}
        {%- endcase -%}
      <span>{%- if selectedType != "" -%}/ &nbsp;{%- endif -%}{{ sortLabel }}</span>
      {%- endif -%}
    </p>

  </header>
  
  <ul>
    {% for pizza in pizzas %}
      <li>
        <a href="/pizzas/{{ pizza.slug }}">
          {% render 'partials/pizza_card.liquid', pizza:pizza %}
        </a>
      </li>
    {% endfor %}
  </ul>
